@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import "material-symbols/index.css";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --animate-slide-up: slideUp 0.8s ease-out forwards;

  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
